{% extends 'recipient/base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.full_name }} ({{ object.email }})</h4>
            </div>
            <div class="card-body">
                Комментарий: {{ object.comment }}
                <a href="{% url 'recipient:delete' object.pk %}" type="button"
                   class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
